# Supabase Data API / Auth 
SUPABASE_URL=https://lpxizvmgzhsbqactobjv.supabase.co
SUPABASE_KEY=YOUR_SUPABASE_ANON_OR_SERVICE_KEY

# Django Postgres Connection String (Supabase Connection Pooling URL)
# Example: postgresql://postgres.[project-ref]:[password]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres
DATABASE_URL=YOUR_SUPABASE_POSTGRES_CONNECTION_STRING

# Django Settings
DJANGO_SECRET_KEY=YOUR_DJANGO_SECRET_KEY
DEBUG=True
ALLOWED_HOSTS=*
